
.myartikel-table {
    max-width : 100%;
    border : none;
    border: 1px solid;
    border-color: #DEE2E6;
    border-radius: 2px;
}

.myartikel-table tr td{
    padding :13px;
    border-top : 1px solid #DEE2E6;
    border-right : 1px solid #DEE2E6;
}

.myartikel-table tbody tr:nth-child(even){
    background-color: #DEE2E655;
}

.myartikel-table tr td:last-child {
    border-right : none;
}

.myartikel-table th {
    padding : 10px;
    border-right : 1px solid #DEE2E6;
    text-align: center;
}

.myartikel-table th:last-child {
    border:none;
}

.myartikel-table tr td:first-child, tr td:last-child {
    text-align: center;
}
