.contentArtikel {
    padding :20px;
    box-shadow: 0px 0px 5px 5px #00000010;
    margin: 20px 10px 30px 0;
    border-radius: 7px;
}

.contentArtikel h1 {
    border-bottom: 3px solid #21252955;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.contentArtikel h3 {
    border-bottom: 3px solid #21252955;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.contentArtikel p {
    font-size: medium;
    padding-bottom: 10px;
    font-style: italic;
    margin-bottom: 20px;
}

.contentArtikel img {
    width: 100%;
    height : 400px;
}

figcaption {
    text-align: right;
    opacity: 0.7;
}

.diperbaharui {
    font-style: italic;
}

.contentArtikel p {
    text-indent: 29px;
    text-align: justify;
}

.share {
    height: 70px;
    margin-top: 60px;
    margin-right: 25px;
    text-align: right;
    vertical-align: center;
}

.linkshare .twit, .linkshare .fb , .linkshare .gplus {
    background: #1b1e21;
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url("img/social-icons-large.png");
    background-size: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.linkshare .fb {
     background-position: 50%;
 }

.linkshare .gplus {
    background-position: 100%;
}




/*======aside============*/
.top-rated {
    padding :20px;
    box-shadow: 0px 0px 5px 5px #00000010;
    margin: 20px 10px 70px 0;
    border-radius: 7px;
}

.top-rated a {
    text-decoration: none;
    color : #1b1e21;
}

.top-rated h3 {
    display: inline-block;
    padding-bottom: 5px;
    padding-right: 5px;
    border-bottom: 2px solid #33333333;
    text-transform: uppercase;
}

.content {
    display: flex;
    margin: 10px 5px 10px 5px;
}

.content h4 {
    color : #1b1e2155;
    align-self: center;
    font-size: 40px;
    margin-top: 0;
    margin-right : 10px;
}

.content h5 {
    padding-top: 5px;
    font-size: 15px;
}

.claps {
    margin-top: 30px;
    float :left;
}

.claps button {
    width : 70px;
    height: 70px;
    cursor: pointer;
    border :none;
    outline: none;
    border-radius: 50%;
    padding :0px;
    background: #FFFFFF;
    border: 1px solid #00000055;
}

.claps button:hover {
    border-color :#559BFF;
}

.az {
    fill: rgba(45, 132, 255, 1);
}
