
.search form{
    margin-top: 20px;
    max-width: 72%;
}

.search input {
    border: none;
    border-bottom: 3px solid #33333333;
    display: inline-block;
}

.search input:focus {
    outline: none;
    box-shadow: 0px 2px 0px blue;
}


.content-list-artikel {
    padding :20px;
    box-shadow: 0px 0px 5px 5px #00000010;
    margin: 20px 10px 30px 0;
    border-radius: 7px;
}

article {
    padding: 20px 7px;
    border-bottom: 2px solid #33333333;
}

article img {
    max-width:100px;
    max-height: 100px;
    border-radius:3px;
    object-fit: cover;
    object-position: center;
}

.media-heading {
    font-size : 25px;
}

.media-body {
    text-align: justify;
}

.media a {
    text-decoration: none;
    color : #1B1E21
}

.writenby {
    text-align: right;
    color : #000000AA;
    font-style: italic;
}

.writenby .date {
    font-style : normal;
}





/*!*======aside============*!*/
.top-rated {
    padding :20px;
    box-shadow: 0px 0px 5px 5px #00000010;
    margin: 20px 10px 70px 0;
    border-radius: 7px;
}

.top-rated a {
    text-decoration: none;
    color : #1b1e21;
}

.top-rated h3 {
    display: inline-block;
    padding-bottom: 5px;
    padding-right: 5px;
    border-bottom: 2px solid #33333333;
    text-transform: uppercase;
}

.content {
    display: flex;
    margin: 10px 5px 10px 5px;
}

.content h4 {
    color : #1b1e2155;
    align-self: center;
    font-size: 40px;
    margin-top: 0;
    margin-right : 10px;
}

.content h5 {
    padding-top: 5px;
    font-size: 15px;
}
